.navbar {
  width: 100%;
  height: 100%;
  background-color: rgb(51, 63, 80);
  padding: 15px 0px;
  text-align: right;
  z-index: 2;
}

.navbarMenu {
  color: white;
  margin: 8px;
  text-decoration: none;
  z-index: 3;
}
