/* 유튜브 바 관련 css */
.container {
  background-color: #e3ecf1;
}
.sidebar {
  background-color: #e3ecf1;
  border-left: 2px solid #202020;
  position: fixed;
  height: 84vh;
  bottom: 0;
  right: 0;
  transition: 0.4s ease;
  color: #202020;
  z-index: 20;
}
.closeButton {
  position: absolute;
  right: 330px;
  top: 20vh;
  transform: translateY(-50%);
  border: 2px solid #202020;
  border-radius: 50%;
  width: 2.5vw;
  height: 5vh;
  min-width: 50px;
  min-height: 50px;
  max-width: 55px;
  max-height: 55px;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  z-index: 20;
}

.openButton {
  position: absolute;
  right: 330px;
  top: 17vh;
  border: none;
  border-radius: 50%;
  width: 2.5vw;
  height: 5vh;
  min-width: 50px;
  min-height: 50px;
  max-width: 55px;
  max-height: 55px;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  z-index: 20;
}

.openBtn {
  width: 100%;
  height: 100%;
}

.content {
  padding: 40px 40px 0 20px;
  position: relative;
  width: 100%;
}
.icon {
  margin: 0;
  color: #202020;
}
